<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

      <title>
         {% block title %}{% endblock %}
      </title>
</head>
<body>
    <body class="page-home">
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><img src="https://pic.clubic.com/v1/images/1418006/raw"" width="70" height="50"></img> Nuc Admin </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="main-nav">
        <ul class="nav navbar-nav ml-xl-5">
            <li class="nav-item">
                <a class="nav-link" href="/fontawesome/">Font Awesome</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/bootswatch/">Bootswatch</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/bootlint/">Bootlint</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown1" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ФФЦ</a>
                <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown1">
                    {% for ffc in ffc_list %}
                    <li class="nav-item dropdown-item bg-dark"><a class="nav-link" href="/nucs/{{ ffc.suff }}/">{{ ffc.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>